@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

.title
{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-weight:550;
    margin-left:45px;
    margin-top:20px;
}
th
{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 9pt;
}
.name
{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size: 13pt;
}
td
{
    background-color:white;
    padding:12px;
    margin-top:10px;
}
.status
{
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight:700;
    background-color: rgb(100,186,109);
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    padding-right:25px;
    border-radius:5px;
    margin-left:-8px;
}