@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
.head
{
    width:310px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size:14pt;
    height:50px;
    color:white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align:left;
    line-height:50px;

}
.container
{
    margin-left:-35px;
    margin-top:60px;
}
.board
{
    background-color:rgb(246,247,250);
    border:0.5px solid lightgrey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height:410px;
    width:310px;
}
.task
{
    background-color:white;
    font-family: 'Roboto', sans-serif;
    font-size:11pt;
    text-align:left;
    height:50px;
    line-height:35px;
    width:250px;
    margin-top:20px;
    margin-left:25px;
    box-shadow: 0px 0px 2px 0px lightgrey;
    border-radius:3px;
}
.title
{
    margin-left:20px;
}
.num
{
    font-family: 'Roboto', sans-serif;
    font-size:10pt; 
    margin-left:10px;
    line-height:10px;
    height:10px;
}